{{ partial "head.html" . }}
{{ partial "top-subpage.html" . }}
<!-- Contact -->
<section id="contact" class="wrapper split">
  <div class="inner">
    <section>
      {{ .Content }}
    </section>
    <section>
      <h2>Contact Us</h2>
      <ul class="bulleted-icons">
        <li>
          <span class="icon-wrapper"><span class="icon fa-envelope"></span></span>
          <h3>Email</h3>
          <p><a href="mailto:bmunitedchurch@gmail.com">bmunitedchurch@gmail.com</a></p>
        </li>
        <li>
          <span class="icon-wrapper"><span class="icon fa-instagram"></span></span>
          <h3>Instagram</h3>
          <p><a href="https://instagram.com/bashawunited">@bashawunited</a></p>
        </li>
        <li>
          <span class="icon-wrapper"><span class="icon fa-phone"></span></span>
          <h3>Phone</h3>
          <p>(780) 372-3891</p>
        </li>
        <li>
          <span class="icon-wrapper"><span class="icon fa-facebook"></span></span>
          <h3>Facebook</h3>
          <p><a href="https://www.facebook.com/Bashaw-Mirror-Pastoral-Charge-151194454908845/?fref=ts">Bashaw Mirror Pastoral Charge</a></p>
        </li>
        <li>
          <span class="icon-wrapper"><span class="icon fa-home"></span></span>
          <h3>Location</h3>
          <p>Bashaw United Church <br>
             5036 52 Avenue<br>
             Bashaw, AB
          </p>
        </li>
        <li>
          <span class="icon-wrapper"><span class="icon fa-home"></span></span>
          <h3>Mailing Address</h3>
          <p>
PO Box 448 <br>
Bashaw, AB<br>
T0B0H0
          </p>
        </li>
        <li>
          <span class="icon-wrapper"><span class="icon fa-user"></span></span>
          <h3>Ministry Personnel</h3>
          <p>Reverend Robin King</p>
        </li>
      </ul>
    </section>
  </div>
</section>
{{ partial "foot.html" . }}