{{ partial "head.html" . }}
{{ partial "top-subpage.html" . }}
  <section id="main" class="wrapper sidebar right">
    <div class="inner">

    <header class="major">
      <h2>Events</h2>
    </header>

    <!-- Content -->
      <div class="content">
        {{ range .Data.Pages }}
          <article class="post-list-item">
          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <p><time>
          {{ if isset .Params "eventdate" }}
            <strong>Event Date</strong> {{ .Params.eventdate }}
          {{ end }}
          </time></p>
          <a href="{{ .Permalink }}" class="image fit">
          {{ if isset .Params "thumbnail" }}
            <img src="{{ .Site.BaseURL }}/images/{{ .Params.thumbnail }}" alt="Bashaw United Church Event - {{ .Title }}">
          {{ end }}
          </a>
          <p>{{ if ne .Description "" }}{{ .Description }}{{ end }}</p>
          </article>
        {{ end }}
      </div>

      {{ partial "sidebar.html" . }}
    </div><!-- .inner -->
  </section><!-- .wrapper -->


{{ partial "foot.html" . }}